pynb_checkpoints
*.ipynb_checkpoints*

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.csv
*.tsv
*.dat
*.npy
*.json
*.txt
*.pdf

*.png

__MACOSX/
__pycache__/

*tsne*
COCA/
*alignment application*
*alignment definition*
GD_*
*pseudocount*
