pynb_checkpoints
*.ipynb_checkpoints*

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.csv
*.tsv
*.dat
*.npy
*.npy.normed
*.json
*.txt
*.pdf
*.arpa
*.mmap
*.hV_C
*.pV_C
*.png
*.npz
.nfs*
*.hdf5

__MACOSX/
__pycache__/

*tsne*
COCA/

*Calculate segmental wordform distribution for *
*alignment application*
*alignment definition*
GD_*
*contexts contextual*
*contexts.txt
*pW_V*
*pseudocount*
*against*
*k-cousins*
*k-spheres*
LD_Fisher_vocab_in*_contexts*/
*param_sweep*
*Benchmarking*
*dask-worker-space*
*Dask*
*BAK*
*DEBUG*
*HMM*
*XLnet*
*Archive*
*sq.py

*Scratch*
*(old)*
*-old*
*Copy1.ipynb

*Oct *
*Oct.ipynb
*Kotoba*
*Sidious*
*Tarski*
*Wittgenstein*

*GPU_0*
*GPU_1*
*GPU 0*
*GPU 1*
*Tarski 0*
*Tarski 1*
*_pseudocount*_lambda*
*pc=*λ=*.ipynb