pynb_checkpoints
*.ipynb_checkpoints*

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.csv
*.tsv
*.dat
*.npy
*.npy.normed
*.json
*.txt
*.pdf
*.arpa
*.mmap
*.hV_C
*.pV_C
*.png
*.npz
.nfs*

__MACOSX/
__pycache__/

*tsne*
COCA/

*alignment application*
*alignment definition*
GD_*
*contexts contextual*
*contexts.txt
*pW_V*
*pseudocount*
*against*
*k-cousins*
*k-spheres*
